@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cantarell';
    src: url('/font/cantarell.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
}

@font-face {
    font-family: 'Cantarell';
    src: url('/font/cantarell-bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
}

body {
    @apply m-4 bg-slate-50 dark:bg-gray-900 dark:text-white;
    font-family: 'Cantarell', sans-serif;
}

#nprogress .bar {
    @apply bg-black dark:bg-white !important;
}

#nprogress .peg {
    @apply hidden !important;
}

::-webkit-scrollbar {
    position: absolute;
    right: 0;
    width: 4px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(71 85 105);
}