@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply w-52 border border-slate-300 dark:border-slate-500 px-3 py-2 rounded-md shadow-md text-sm
     focus:outline-4 bg-transparent;
}

textarea {
    @apply border border-slate-300 dark:border-slate-500 px-3 py-2 rounded-md shadow-md text-sm
     focus:outline-4 bg-transparent;
}

:root {
    @apply bg-slate-50 dark:bg-slate-900 dark:text-white text-slate-800;
}

body,
html {
    @apply m-0 p-0;
}

@keyframes popin {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes scalein {
    from {
        opacity: 0;
        transform: scale(90%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.popin {
    animation: popin 400ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.scalein {
    animation: scalein 400ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
