@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply w-52 border-none bg-slate-100 dark:bg-slate-700 px-3 py-2 rounded-md shadow-none text-sm;
}

textarea {
    @apply border-none bg-slate-100 dark:bg-slate-700 px-3 py-2 rounded-md shadow-md text-sm
     focus:border-none bg-transparent;
}

:root {
    @apply bg-white dark:bg-slate-900 dark:text-white text-slate-800;
}

body,
html {
    @apply m-0 p-0;
}

@keyframes popin {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes scalein {
    from {
        opacity: 0;
        transform: scale(90%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadein {
    animation: fadein 500ms forwards;
}

.popin {
    animation: popin 400ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.scalein {
    animation: scalein 400ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

::-webkit-scrollbar {
    position: absolute;
    right: 0;
    width: 4px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(71 85 105);
}

#nprogress .bar {
    @apply bg-gradient-to-r from-primary to-secondary !important;
}

#nprogress .peg {
    @apply shadow-primary !important;
}

.menu {
    @apply relative text-left z-20;
}

.menu-items {
    @apply flex flex-col gap-2 absolute right-0 p-4 w-56 mt-2 origin-top-right bg-white dark:bg-slate-800 rounded-md shadow-lg;
}

.menu-item {
    @apply w-full;
}

.menu-item:hover {
    @apply border-primary !important;
}
